<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <div th:replace="fragment/import"></div>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../../static/js/jquery.validate.js" type="text/javascript"></script>
    <script src="/js/jquery.validate.js" type="text/javascript"></script>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <h2 class="mb-4">Zmiana hasła</h2>
        <form th:method="post" th:object="${form}" th:action="'/dashboard/users/change-password'" id="form">

            <meta name="csrf-token" th:content="${_csrf.getToken()}">
            <meta name="username" th:content="${form.getUsername()}">
            <input name="username" type="hidden" th:value="${form.getUsername()}">
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="password">aktualne hasło</label>
                    <input th:field="${form.password}" id="password" name="password" type="password" class="form-control" required>
                    <span id="password-help-block" class="form-text text-danger" style="display:none;">wprowadzone hasło jest nieprawidłowe</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="newPassword">nowe hasło</label>
                    <input th:field="${form.newPassword}" id="newPassword" name="newPassword" type="password" class="form-control" required disabled="true">
                    <span id="newPassword-help-block" class="form-text text-muted">ta treść generowana jest automatycznie na podstawie tytułu</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="newPasswordRepeated">powtórz hasło</label>
                    <input th:field="${form.newPasswordRepeated}" id="newPasswordRepeated" name="newPasswordRepeated" type="password" class="form-control" disabled="true" required>
                    <span id="newPasswordRepeated-help-block" class="form-text text-muted">awdawd</span>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3 pl-md-0 pr-md-0">
                <button id="submit" class="col-12 offset-md-4 col-md-4 btn btn-primary" type="submit">Potwierdź</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $.ajaxSetup({
            headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}
        });

        $('#password').keyup(function () {
           var data = {
               username: $('meta[name="username"]').attr('content'),
               password: $(this).val()
           };
           $.ajax({
               url: '/dashboard/users/change-password-validate',
               type: 'PATCH',
               contentType: 'application/json',
               processData: false,
               dataType: 'json',
               data: JSON.stringify(data)
           }).done(function (data) {
               if(data){
                   console.log("TRUE");
                   $('#password').addClass('is-valid').prop('disabled', true).removeClass('is-invalid');
                   $('#newPassword').prop('disabled', false);
                   $('#newPasswordRepeated').prop('disabled', false);
                   $('#password-help-block').hide();
               }
               else{
                   $('#password').addClass('is-invalid').prop('disabled', false);
                   $('#newPassword').prop('disabled', true);
                   $('#newPasswordRepeated').prop('disabled', true);
                   $('#password-help-block').show();
               }
           });
        });
        $('#submit').click(function (){
            $('#form').validate({
                rules: {
                    newPassword: {
                        required: true,
                        min: 8
                    },
                    newPasswordRepeated:{
                        required: true,
                        min: 8,
                        depends: function(element){
                            return $('#newPassword').val()===element.val();
                        }
                    }
                },
                errorClass: 'is-invalid',
                validClass: 'is-valid'
            });
        });

    </script>
</div>
</body>
</html>