@media (min-width: 1200px) {
  .box-login {
  }
}

.box-login {
  z-index: 99;
  border-radius: 1rem;
  text-align: center;
}

.icon-vh {
  font-size: 10vw;
}

.tiles {
  display: flex;
  flex-direction: row;

  &__card {
    padding: 1em;
    text-align: center;
    margin: 1em 1em 0 1em;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.card {
  &-content {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
}

.sidebar-dimens {
  width: 300px;
  min-width: 300px;
}

.modal-dialog,
.modal-content {
  /* 80% of window height */
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
}

.img-100 {
  width: 100%;
}

.floating-label {
  margin-top: 0.5rem;

  &__label {
    position: absolute;
    top: -0.9rem;
    left: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: var(--white);
    color: var(--secondary);
    border-radius: 0.4rem;
    z-index: 5;
  }

  &__checkbox {
    margin-top: 0.8rem;
  }

  &__button_plus {
    border: none;
    position: absolute;
    top: -1.75rem;
    right: 2.5rem;
    font-size: 2.5rem;
    background: transparent;
    color: var(--green);
    z-index: 5;

    &:hover{
      color: green;
    }
  }
}

@keyframes backdrop-floaty {
  from {
    transform: translateY(-50%) translateX(-50%) scale(1.0);
  }
  to {
    transform: translateY(-50%) translateX(-50%) scale(1.2);
  }
}

.backdrop-image {
  background-image: url(../images/login-backdrop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation-name: backdrop-floaty;
  -moz-animation-name: backdrop-floaty;
  -o-animation-name: backdrop-floaty;
  animation-name: backdrop-floaty;
}

@keyframes btn-hover {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(1.05);
  }
}

.btn-hover {
  transition: all 0.5s ease;
  transform: scale(1.0);

  &:hover {
    transform: scale(1.05);
  }
}

.font-family-roboto {
  font-family: Roboto, sans-serif;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;

  &__link {

  }
}

/*CARDS*/

.small-caps {
  font-variant: small-caps;
}

.card__link {

}

.card-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);

  border: 1px solid #CCC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.2);

  &--grow {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--150 {
    height: 150px;
    width: 150px;
  }

  &--facebook {
    color: #3C5A99;
  }

  &--linkedin {
    color: #0077B5;
  }

  &--twitter {
    color: #1DA1F2;
  }

  &--github {
    color: #000000;
  }

  &--messenger {
    color: #0078FF;
  }

  &--gmail {
    color: #DB4437;
  }

  &__icon {
    font-size: 5rem;
    background-color: inherit;
  }

  &__title {
    margin-top: 0.5rem;
  }
}

.fs-5rem {
  font-size: 5rem;
}

/*END CARDS*/

/*ERROR PAGES*/
.error {
  &--404 {
    background: linear-gradient(130deg, #FFB18B 60%, #FFD4C0 60%);
    background: -moz-linear-gradient(130deg, #FFB18B 60%, #FFD4C0 60%);
    background: -ms-linear-gradient(130deg, #FFB18B 60%, #FFD4C0 60%);
    background: -o-linear-gradient(130deg, #FFB18B 60%, #FFD4C0 60%);
  }

  &--403 {
    background: linear-gradient(130deg, #273B44 60%, #3E5863 60%);
    background: -moz-linear-gradient(130deg, #273B44 60%, #3E5863 60%);
    background: -ms-linear-gradient(130deg, #273B44 60%, #3E5863 60%);
    background: -o-linear-gradient(130deg, #273B44 60%, #3E5863 60%);
  }

  &--500 {
    background: linear-gradient(130deg, #FF5E4D 60%, #FF9489 60%);
    background: -moz-linear-gradient(130deg, #FF5E4D 60%, #FF9489 60%);
    background: -ms-linear-gradient(130deg, #FF5E4D 60%, #FF9489 60%);
    background: -o-linear-gradient(130deg, #FF5E4D 60%, #FF9489 60%);
  }

  &__container {
    height: 50vh;
    width: 80vw;
    padding: 3rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
}

.info-box {
  position: relative;
  max-height: 50vh;
  color: #FFF;

  &--403 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #7620A5 55%), url(../images/403.jpg);
    background: -moz-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #7620A5 55%), url(../images/403.jpg);
    background: -ms-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #7620A5 55%), url(../images/403.jpg);
    background: -o-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #7620A5 55%), url(../images/403.jpg);
  }

  &--404 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FFB400 55%), url(../images/404.jpg);
    background: -moz-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FFB400 55%), url(../images/404.jpg);
    background: -ms-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FFB400 55%), url(../images/404.jpg);
    background: -o-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FFB400 55%), url(../images/404.jpg);
  }

  &--500 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FF3900 55%), url(../images/500.jpg);
    background: -moz-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FF3900 55%), url(../images/500.jpg);
    background: -ms-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FF3900 55%), url(../images/500.jpg);
    background: -o-linear-gradient(95deg, rgba(0, 0, 0, 0) 55%, #FF3900 55%), url(../images/500.jpg);
  }

  &__contents {
    position: absolute;

    padding: 1rem;
    margin: 1rem;

    top: 0;
    right: 0;

    height: 90%;
    width: 40%;
    max-height: 50vh;

    text-align: center;
    overflow: auto;
  }

  &__divider {
    width: 100%;
    display: none;

    &--404 {
      background-color: #DD9C00;
    }
  }

  &__error-code {
    display: none;
  }

  &__error-title {
    font-weight: bold;
  }

  &__quicky-text {
    display: none;
  }

  @media (min-width: 550px) {
    &__quicky-text {
      display: block;
    }

    &__divider {
      width: 100%;
      display: block;
    }
  }

  @media(min-width: 800px) {
    &__error-code {
      display: block !important;;
      font-weight: bolder;
      font-size: 5rem;
    }
  }
}


@media (min-width: 550px) {
  .info-box {
    &__quicky-text {
      display: block;
    }

    &__divider {
      width: 100%;
      display: block;
    }
  }
}

@media(min-width: 800px) {
  .info-box {
    &__error-code {
      display: block !important;;
      font-weight: bolder;
      font-size: 5rem;
    }
  }
}

.contact-background {
  background: -webkit-linear-gradient(60deg, var(--primary) 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, var(--gray) 60%, var(--gray-dark) 60%);
  background: -o-linear-gradient(60deg, var(--primary) 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, var(--gray) 60%, var(--gray-dark) 60%);
  background: -moz-linear-gradient(60deg, var(--primary) 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, var(--gray) 60%, var(--gray-dark) 60%);
  background: linear-gradient(60deg, var(--primary) 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, var(--gray) 60%, var(--gray-dark) 60%);
}

.form{
  &__caret{
    font-size: 4rem;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    @media(min-width: 768px) {
      font-size: 5rem;
    }
  }

  &__select-multiple{
    height: 100%!important;
  }
}

/*Presentation list group*/
.list-group-presentation{
  &__toplevel-container{
    padding: 1px;
    transition: all 300ms;

    @media (min-width:768px) {
      padding: 10px;
    }
  }
}

.list-group-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding:0.8rem;
  border-radius: 3px;
  border:1px solid lightgray;
  transition: all 0.5s ease;
  text-align: left;

  &__href{
    flex-grow: 1;
    color:inherit;
    margin-right: 1rem;
  }
  &__href:hover{
    color:inherit;
  }

  &__icon{
    margin-right: 1rem;
    margin-left: 1rem;
    color:var(--primary);
    font-size: 1.5rem;
    transition: all 0.5s ease;
  }

  &__subtext{
    color: var(--gray);
    flex-grow: 1;
    text-align: right;
  }

  &:hover{
    transform: scale(1.05);
  }

  @media (min-width:768px) {
    flex-direction: column;
    padding:2rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
    text-align: center;

    &__icon{
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 0;
      font-size: 5rem;
    }

    &__subtext{
      text-align: center;
    }

    &__href{
      margin-right: 0;
    }
  }
}