<script>
    $(document).ready(function () {
        $.ajaxSetup({
            headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}
        });

        $("#open-upload-modal").on("click", function () {
            console.info("INSIDE MODAL");
            $('#upload-modal').modal();
        });

        $("#file").on('change', function () {
            console.log("IN CHANGE");
            console.log($(this).val());
            var filePath = $(this).val();
            var fileName = filePath.substr(filePath.lastIndexOf("\\") + 1, filePath.length);
            $('#fileName').text(fileName);
        });

        $('#do-upload').on("click", function (event) {

            event.preventDefault();

            console.info("In do upload");

            var form = $('#image-upload-form')[0];
            var data = new FormData(form);

            var request = $.ajax({
                type: 'PUT',
                url: '/dashboard/images/upload',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 600000
            });
        })
    })
</script>

<div class="modal fade" id="upload-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Prześlij plik</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="modal-body" class="modal-body m-3">
                <form id="image-upload-form" action="/dashboard/images/1/upload" enctype="multipart/form-data"
                      method="post">
                    <div class="form-group row">
                        <div class="custom-file">
                            <label class="custom-file-label" for="file" id="fileName">Choose file</label>
                            <input type="file" class="custom-file-input" id="file" name="file">
                        </div>
                    </div>
                    <div class="form-group row">
                        <button id="do-upload" class="btn btn-sm btn-info" type="submit">Prześlij</button>
                        <meta name="csrf-token" th:content="${_csrf.getToken()}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>