<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get('page.name')}+' - '+${page.getTitle()}">Failed</title>
    <div th:replace="fragment/import"></div>
</head>
<body>

<nav th:replace="fragment/menu/user-menu"></nav>
<div class="container-fluid bg-white min-vh-100">
    <div class="row">
        <div class="col-8">
            <div th:if="${page!=null}" th:utext="${page.getContent()}">
            </div>
        </div>
        <div class="offset-1 col-3">
            awdadwawd
        </div>
    </div>
</div>
</body>
<div th:replace="fragment/footer"></div>
</html>