<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <form th:object="${form}" method="post" th:action="'/dashboard/system-variables/'+${form.getId()}">
            <h3 class="mb-4 font-family-roboto">Edycja zmiennej <span class="text-monospace" th:text="${form.getKey()}">test</span>
            </h3>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <label class="floating-label__label" for="key">identyfikator</label>
                    <input id="id" name="id" type="text" class="form-control" th:field="*{id}" th:value="${form.id}"
                           required="required">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <label class="floating-label__label" for="key">klucz</label>
                    <input id="key" name="key" type="text" class="form-control" th:field="*{key}" th:value="${form.key}"
                           required="required">
                    <span class="form-text text-danger" th:if="${#fields.hasErrors('key')}" th:errors="*{key}"
                          id="keyErrorBlock">Klucz o wskazanej nazwie już istnieje!</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <label class="floating-label__label" for="value">wartość</label>
                    <input id="value" name="value" type="text" class="form-control" th:field="*{value}"
                           th:value="${form.value}" required="required">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <label class="floating-label__label" for="created">data utworzenia</label>
                    <input id="created" name="cdate" type="text" class="form-control" th:field="*{created}"
                           th:value="${form.created}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <label class="floating-label__label" for="updated">data aktualizacji</label>
                    <input id="updated" name="udate" type="text" class="form-control" th:field="*{updated}"
                           th:value="${form.updated}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <button name="submit" type="submit" class="btn btn-block btn-primary col-12 col-md-4 offset-md-4" th:if="${@varkey.containsKey(form.getKey())}">Zapisz</button>
                <button name="submit" type="submit" class="btn btn-primary offset-1 col-10 mb-3 offset-md-2 col-md-3 mb-md-0">Zapisz</button>
                <a href="#" class="btn btn-danger offset-1 col-10 offset-md-2 col-md-3">Usuń</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>