<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <form action="/dashboard/system-variables/new" method="post" class="mb-2">
            <div class="row">
                <div class="col-6">
                    <h3>Zmienne srodowiskowe</h3>
                </div>
                <div class="col-6 text-right">
                    <input
                            id="csrf"
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}"/>
                    <button id="open-upload-modal" class="btn btn-sm btn-success">Dodaj nową zmienną <i
                            class="fas fa-plus-square"></i></button>
                </div>
            </div>
        </form>
        <div class="d-flex flex-grow-1 overflow-auto">
        <table class="table table-sm table-borderless">
            <thead class="border-bottom border-dark">
            <tr class="font-italic">
                <td>klucz</td>
                <td>wartość</td>
                <td>data aktualizacji</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attr: ${attributes}" class="border-bottom">
                <td th:text="${attr.getKey()}">key</td>
                <td><a href="#" th:href="${'/dashboard/system-variables/'+attr.getId()}"><span th:text="${attr.getValue()}">value</span></a></td>
                <td th:text="${#temporals.format(attr.getUpdated(), @systemVariables.get(@varkey.SYSTEM_DASHBOARD_DATE_FORMAT))}">2019-06-09</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>