<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${@systemVariables.get('page.name')}">Failed</title>
    <div th:replace="fragment/import"></div>
</head>
<body class="bg-light">

<nav th:replace="fragment/menu/user-menu"></nav>
<div class="container bg-white" style="padding-left: 0 !important; padding-right: 0 !important;">
    <div class="m-0 p-0" th:if="${page!=null}" th:utext="${page.getContent()}" >
    </div>
</div>
</body>
</html>