<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <div class="d-flex flex-row mb-3">
            <h2>Edycja pliku</h2>
        </div>
        <div>

        </div>
    </div>

</div>
</body>
</html>