<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <!--/*-->
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--*/-->
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <div class="d-flex flex-row mb-3">
            <h2>Wygląd</h2>
        </div>
        <div class="row list-grid-group">
            <div class="col-12 col-md-6 col-lg-4 list-grid-group__toplevel-container">
                <div class="list-grid-group-container">
                    <i class="fas fa-globe-europe list-grid-group-container__icon"></i>
                    <a th:href="'/dashboard/presentation/edit-css?file='+${@systemVariables.get(@varkey.PAGE_PRESENTATION_GLOBAL_CSS_NAME)}"
                       class="list-grid-group-container__href">Edycja głównego pliku stylu</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 list-grid-group__toplevel-container">
                <div class="list-grid-group-container">
                    <i class="fas fa-image  list-grid-group-container__icon"></i>
                    <a href="#" class="list-grid-group-container__href">Zmiana pliku
                        motywu</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 list-grid-group__toplevel-container">
                <div class="list-grid-group-container">
                    <i class="fas fa-file-signature list-grid-group-container__icon"></i>
                    <a th:href="'/dashboard/presentation/edit-css?file='+${@systemVariables.get(@varkey.PAGE_PRESENTATION_THEME_CSS_NAME)}"
                       class="list-grid-group-container__href border-0 p-0">Edycja pliku motywu</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 list-grid-group__toplevel-container">
                <div class="list-grid-group-container">
                    <i class="fas fa-sign-out-alt list-grid-group-container__icon"></i>
                    <a href="#" class="list-grid-group-container__href">Przełącz na źródła zewnętrzne</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 list-grid-group__toplevel-container">
                <div class="list-grid-group-container">
                    <i class="fas fa-scroll list-grid-group-container__icon"></i>
                    <a href="/dashboard/presentation/add-script" class="list-grid-group-container__href">Dodaj skrypt .js</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 list-grid-group__toplevel-container">
                <div class="list-grid-group-container">
                    <i class="fas fa-file-code list-grid-group-container__icon"></i>
                    <a href="/dashboard/presentation/add-stylesheet" class="list-grid-group-container__href">Dodaj arkusz stylów</a>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>