<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5 justify-content-center">
        <div class="w-75 align-self-center">
            <div class="alert alert-danger text-center">
                <h3>Usuniecie strony</h3>
                <strong>Uwaga!</strong>
                Usunięcie strony jest czynnością nieodwracalną.
            </div>

            <div>Jeżeli jesteś pewien, że chcesz usunąć stronę</div>
            <div class="font-weight-bolder text-danger"
                 th:text="'Strona o id: '+${page.getId()}+' i tytule '+${page.getTitle()}">
                Strona o id: 1 tytule test
            </div>
            <form class="mt-5" th:action="'/dashboard/page/'+${page.getId()}+'/delete'" method="post">
                <div class="form-group row">
                    <button class="offset-sm-1 col-sm-4 mb-3 mb-sm-0 btn btn-danger" type="submit">Potwierdź</button>
                    <a class="offset-sm-2 col-sm-4 btn btn-info" href="/dashboard/page/">Cofnij</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>