<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>

</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <h2 class="mb-4">Edycja strony <span th:text="${page.getTitle()}"></span></h2>
        <form th:method="post" th:action="'/dashboard/page/'+${page.getId()}">
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="id">identyfikator</label>
                    <input id="id" name="id" type="text" class="form-control" th:value="${page.id}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="identifier">identyfikator</label>
                    <input id="identifier" name="id" type="text" class="form-control" disabled>
                    <span id="identifierHelpBlock" class="form-text text-muted">ta treść generowana jest automatycznie na podstawie tytułu</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="title">tytuł</label>
                    <input id="title" name="title" type="text" class="form-control" required th:value="${page.title}">
                    <span id="titleHelpBlock" class="form-text text-muted">tytuł strony wyświetlony zostanie na pasku przeglądarki, zatem tytuł strony musi być unikalny</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <label for="pageType">rozkład strony</label>
                    <select id="pageType" name="pageType" class="custom-select">
                        <option value="-1">brak</option>
                        <option
                                th:if="${page.getPageType()!=null}"
                                th:each="pageType:${pageTypes}"
                                th:value="${pageType.getId()}"
                                th:text="${pageType.getLayoutTitle()}"
                                th:selected="${pageType.getId()==page.getPageType().getId()}">Page</option>
                        <option
                                th:if="${page.getPageType()==null}"
                                th:each="pageType:${pageTypes}"
                                th:value="${pageType.getId()}"
                                th:text="${pageType.getLayoutTitle()}">Page</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label-container">
                    <input th:unless="${page.visible==null}" name="visible" id="visible" type="checkbox"
                           th:checked="${page.visible}">
                    <input th:if="${page.visible==null}" name="visible" id="visible" type="checkbox"
                           value="false">
                    <label for="visible">widoczna</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 row">
                    <div class="offset-2 col-3">
                        <button name="submit" type="submit" class="btn btn-primary btn-block">Zatwierdź</button>
                    </div>
                    <a th:href="@{'/dashboard/page/'+${page.getId()}+'/delete'}" class="offset-2 col-3 btn btn-block btn-danger">Usun</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>