<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#title').keyup(function () {
                var text = $(this).val().toLowerCase().replace(/ +/g, '-').normalize("NFC");
                $('#identifier').val(stripAccents(text));
            })
        });

        function stripAccents(input) {
            var map = new Map();
            map.set('Ą', 'A');
            map.set('Ć', 'C');
            map.set('Ę', 'E');
            map.set('Ł', 'L');
            map.set('Ń', 'N');
            map.set('Ó', 'O');
            map.set('Ż', 'Z');
            map.set('Ź', 'Z');
            map.set('ą', 'a');
            map.set('ć', 'c');
            map.set('ę', 'e');
            map.set('ł', 'l');
            map.set('ń', 'n');
            map.set('ó', 'o');
            map.set('ż', 'z');
            map.set('ź', 'z');

            var inputarray = input.split('');
            for (var i = 0; i < inputarray.length; i++) {
                const mapping = map.get(inputarray[i]);
                if(typeof mapping !== "undefined"){
                    inputarray[i]=mapping;
                }
            }
            return inputarray.join('');
        }
    </script>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <h2 class="mb-4">Edycja strony <span th:text="${page.getTitle()}"></span></h2>
        <form th:method="post" th:action="'/dashboard/page/'+${page.getId()}">
            <div class="form-group row">
                <div class="col-12 col-lg-6 floating-label mb-3 mb-lg-0">
                    <label class="floating-label__label" for="id">identyfikator</label>
                    <input id="id" name="id" type="text" class="form-control" th:value="${page.id}" disabled>
                </div>
                <div class="col-12 col-lg-6 floating-label">
                    <label class="floating-label__label" for="identifier">identyfikator</label>
                    <input id="identifier" name="identifier" type="text" class="form-control" readonly th:value="${page.identifier}">
                    <span id="identifierHelpBlock" class="form-text text-muted">ta treść generowana jest automatycznie na podstawie tytułu</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-lg-6 floating-label mb-3 mb-lg-0">
                    <label class="floating-label__label" for="title">tytuł</label>
                    <input id="title" name="title" type="text" class="form-control" required th:value="${page.title}">
                    <span id="titleHelpBlock" class="form-text text-muted">tytuł strony wyświetlony zostanie na pasku przeglądarki, zatem tytuł strony musi być unikalny</span>
                </div>
                <div class="col-12 col-lg-6 floating-label mb-lg-0">
                    <label class="floating-label__label" for="pageType">rozkład strony</label>
                    <select id="pageType" name="pageType" class="custom-select">
                        <option value="-1">brak</option>
                        <option
                                th:if="${page.getPageType()!=null}"
                                th:each="pageType:${pageTypes}"
                                th:value="${pageType.getId()}"
                                th:text="${pageType.getLayoutTitle()}"
                                th:selected="${pageType.getId()==page.getPageType().getId()}">Page
                        </option>
                        <option
                                th:if="${page.getPageType()==null}"
                                th:each="pageType:${pageTypes}"
                                th:value="${pageType.getId()}"
                                th:text="${pageType.getLayoutTitle()}">Page
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-lg-6 mb-3">
                    <select id="scripts" name="scripts" class="custom-select" multiple readonly>
                        <option th:if="${page.getScripts().size()==0}" value="-1" disabled>brak</option>
                        <option th:each="script: ${page.getScripts()}" th:value="${script.getId()}" th:text="${script.getName()}" disabled></option>
                    </select>
                    <label class="floating-label__label" for="scripts">skrypty</label>
                    <a href="#" th:href="@{'/dashboard/page/'+${page.getId()}+'/scripts'}" class="floating-label__button_plus"><i class="fas fa-pen-square"></i></a>
                </div>
                <div class="col-12 col-lg-6">
                    <select id="stylesheets" name="stylesheets" class="custom-select" multiple readonly>
                        <option th:if="${page.getStylesheets().size()==0}" value="-1" disabled>brak</option>
                        <option th:each="stylesheet: ${page.getStylesheets()}" th:value="${stylesheet.getValue()}" th:text="${stylesheet.getTitle()}" disabled></option>
                    </select>
                    <label class="floating-label__label" for="stylesheets">arkusze stylów</label>
                    <a href="#" th:href="@{'/dashboard/page/'+${page.getId()}+'/stylesheets'}" class="floating-label__button_plus"><i class="fas fa-pen-square"></i></a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <input th:unless="${page.visible==null}" name="visible" id="visible" type="checkbox"
                           th:checked="${page.visible}" class="floating-label__checkbox">
                    <input th:if="${page.visible==null}" name="visible" id="visible" type="checkbox"
                           value="false" class="floating-label__checkbox">
                    <label class="floating-label__label" for="visible">widoczna</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 floating-label">
                    <input th:unless="${page.isMobileEnabled==null}" name="isMobileEnabled" id="isMobileEnabled" type="checkbox"
                           th:checked="${page.isMobileEnabled}" class="floating-label__checkbox">
                    <input th:if="${page.visible==null}" name="isMobileEnabled" id="isMobileEnabled" type="checkbox"
                           value="false" class="floating-label__checkbox">
                    <label class="floating-label__label" for="isMobileEnabled">strona z widokiem mobilnym</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-3 offset-md-2 mb-3 mb-md-0">
                    <button name="submit" type="submit"
                            class="btn btn-primary btn-block">Zatwierdź
                    </button>
                </div>
                <div class="col-12 col-md-3 offset-md-2">
                <a th:href="@{'/dashboard/page/'+${page.getId()}+'/delete'}"
                   class="btn btn-block btn-danger">Usun</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>