<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <div class="d-flex flex-row">
            <h2>Edycja stron</h2>
            <form class="flex-grow-1 text-right" action="/dashboard/page/new" method="post">
                <input
                        id="csrf"
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"/>
                <button class="btn btn-sm btn-success" type="submit"><i class="fas fa-folder-plus"></i>
                    utwórz nową stronę
                </button>
            </form>
        </div>
        <div th:if="${param.deleteSuccess!=null}" class="alert alert-success alert-dismissible fade show"
             role="alert">
            <i class="fas fa-check-circle" style="font-size: 2em;"></i>
            <strong>Strona została usunięta!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${pages.size()>0}" class="d-flex flex-grow-1 overflow-auto flex-column mt-3">
            <table class="table table-sm table-borderless text-center">
                <thead class="border-bottom border-dark">
                    <tr class="font-italic">
                        <th class="font-weight-normal">identyfikator</th>
                        <th class="font-weight-normal">tytuł strony</th>
                        <th class="font-weight-normal">liczba podstron</th>
                        <th class="font-weight-normal">data aktualizacji</th>
                        <th class="font-weight-normal">widoczna</th>
                        <th class="font-weight-normal">edycja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="page: ${pages}" class="border-bottom">
                        <th th:text="${page.getIdentifier()}" class="font-weight-normal">moja-strona-główna</th>
                        <th th:text="${page.getTitle()}" class="font-weight-normal">Strona główna</th>
                        <th th:text="${page.getSubpages().size()}" class="font-weight-normal">0</th>
                        <th th:text="${#temporals.format(page.getUpdated(), @systemVariables.get(@varkey.SYSTEM_DASHBOARD_DATE_FORMAT))}" class="font-weight-normal">
                            2019-05-11
                        </th>
                        <th th:text="${page.getVisible()}?'tak':'nie'" class="font-weight-normal">Tak</th>
                        <th class="font-weight-normal">
                            <a href="#" th:href="'/dashboard/page/'+${page.getId()}" class="text-info">modyfikuj</a><br>
                            <a href="#" th:href="'/dashboard/page/'+${page.getId()}+'/edit'"
                               class="text-success">edytuj treść</a><br>
                            <a href="#" th:href="'/dashboard/page/'+${page.getId()}+'/delete'"
                               class="text-danger">usuń</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${pages.size()==0}" class="alert alert-info text-center p-4">
            W tej chwili, nie ma jeszcze żadnej strony.
        </div>
    </div>
</div>
</body>
</html>