<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping package="com.jba.opencms.type"/>

    <mapping class="com.jba.opencms.type.base.BaseType"/>
    <mapping class="com.jba.opencms.type.base.BaseTypeSimpleKey"/>
    <mapping class="com.jba.opencms.type.base.BaseTypeCompoundKey"/>

    <mapping class="com.jba.opencms.type.file.File"/>

    <mapping class="com.jba.opencms.type.user.User"/>
    <mapping class="com.jba.opencms.type.user.Authority"/>
    <mapping class="com.jba.opencms.type.user.ImageUser"/>

    <mapping class="com.jba.opencms.type.page.Page"/>
    <mapping class="com.jba.opencms.type.page.PageType"/>

    <mapping class="com.jba.opencms.type.message.Message"/>
    <mapping class="com.jba.opencms.type.message.Status"/>

    <mapping class="com.jba.opencms.type.menu.Menu"/>
    <mapping class="com.jba.opencms.type.menu.Entry"/>

    <mapping class="com.jba.opencms.type.system.SystemVariable"/>
  </session-factory>
</hibernate-configuration>