<!--<link rel="stylesheet" href="../../static/css/opencms.css"/>-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"-->
<!--integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="../../static/css/bootstrap.css"/>-->

<!--<meta charset="UTF-8">-->

<nav class="navbar navbar-light" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;">
    <a class="navbar-brand" href="#">
        <img src="../static/images/bulb.png" width="30" height="30" alt="">
        <strong>OpenCMS</strong>
    </a>

    <a class="mr-sm-0 text-danger" href="/logout"><strong>Wyloguj się</strong></a>
</nav>