<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;">
        <!--/*@thymesVar id="breadcrumb" type="List<Breadcrumb>"*/-->
        <li
                th:if="${breadcrumb!=null}"
                th:each="crumb, iStat: ${breadcrumb}"
                th:class="${iStat.last}?'breadcrumb-item active':'breadcrumb-item'"
                class="breadcrumb-item active">
            <a  th:unless="${iStat.last}"
                th:text="${crumb.getLabel()}"
                th:href="${crumb.getHref()}">
                Dashboard
            </a>
            <span
                th:if="${iStat.last}"
                th:text="${crumb.getLabel()}">Last</span>
        </li>
    </ol>
</nav>