<div class="bg-primary text-white sidebar-dimens h-100 shadow-lg d-none d-xl-block">
    <ul class="list-group list-group-flush text-white sidebar-dimens">
        <a href="/" class="list-group-item list-group-item-action bg-primary text-white">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 font-family-roboto">Przejdź do witryny</h5>
                <i class="fas fa-sitemap"></i>
            </div>
            <small>Zobacz witrynę jako użytkownik</small>
        </a>
        <a href="/dashboard/system-variables" class="list-group-item list-group-item-action bg-primary text-white">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 font-family-roboto">Administracja</h5>
                <i class="fas fa-sitemap"></i>
            </div>
            <small>Zarządzaj witryną</small>
        </a>
        <!--<a href="#" class="list-group-item list-group-item-action bg-primary text-white">-->
            <!--<div class="d-flex w-100 justify-content-between">-->
                <!--<h4 class="mb-1">Sklep</h4>-->
                <!--<i class="fas fa-sitemap"></i>-->
            <!--</div>-->
            <!--<small>Odwiedź sklep i zobacz płatną zawartość</small>-->
        <!--</a>-->
    </ul>
</div>