<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/bootstrap-theme.css"/>
<script src="/webjars/jquery/3.4.0/jquery.js"></script>
<script type="text/javascript" src="/webjars/popper.js/1.14.7/umd/popper.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="/css/opencms.css"/>