<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get('page.name')}+' - niedozwolono'">Strona nie istnieje</title>
    <div th:replace="fragment/import"></div>
</head>
<body class="d-flex flex-column vh-100" style="">
<nav th:replace="fragment/menu/user-menu"></nav>
<div class="container-fluid bg-white p-0 m-0 flex-grow-1 d-flex flex-column" style="padding-left: 0 !important; padding-right: 0 !important;">
    <div class="error error--500 d-flex align-items-center justify-content-center flex-grow-1">
        <!--<div class="error__color-pane error__color-pane-404"></div>-->
        <div class="error__container info-box info-box--500">
            <div class="info-box__contents d-flex flex-column justify-content-center">
                <h1 class="info-box__error-code">500</h1>
                <h4 class="info-box__error-title">błąd serwera</h4>
                <hr class="info-box__divider">
                <div class="info-box__error-description">
                    <span class="info-box__quicky-text">Wystąpił błąd serwera. Trudno powiedzieć, co się stało, ale to nic dobrego</span>
                    <div class="info-box_error-navigation mt-3">
                        <a class="btn btn-primary" href="/">powrót</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer"></div>
</body>

</html>