<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/bootstrap-theme.css"/>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper" style="max-height: 100vh;">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="container-fluid flex-column d-flex shadow-lg m-5 p-5">
        <form th:object="${attribute}" method="post" th:action="'/dashboard/globals/'+${attribute.getId()}">
            <h3>Test</h3>
            <div class="form-group row">
                <label for="key" class="col-4 col-form-label">Klucz</label>
                <div class="col-8">
                    <input id="key" name="key" type="text" class="form-control" th:value="${attribute.key}" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="value" class="col-4 col-form-label">Wartość</label>
                <div class="col-8">
                    <input id="value" name="value" type="text" class="form-control" th:value="${attribute.value}" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="created" class="col-4 col-form-label">Data utworzenia</label>
                <div class="col-8">
                    <input id="created" name="cdate" type="text" class="form-control" th:value="${attribute.created}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="updated" class="col-4 col-form-label">Data aktualizacji</label>
                <div class="col-8">
                    <input id="updated" name="udate" type="text" class="form-control" th:value="${attribute.updated}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-block btn-primary">Zapisz</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>