<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title th:text="${@systemVariables.get('page.name')+' - Dashboard - Menu - Edit'}">Failed</title>
        <div th:replace="/fragment/import"></div>
        <link rel="stylesheet" href="../../../static/css/opencms.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>

    </head>
    <body class="d-flex flex-column vh-100">
        <nav th:replace="/fragment/admin-navbar"></nav>
        <nav th:replace="/fragment/admin-breadcrumb"></nav>
        <div class="wrapper">
            <div th:replace="fragment/admin-sidebar"></div>
            <div class="container-fluid shadow-lg flex-grow-1 m-5 p-5">
                <form class="" th:object="${menu}" method="post" th:action="'/dashboard/menu/'+${menu.id}">
                    <h3 class="mb-4">Edycja pozycji menu</h3>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2">ID</label>
                        <br>
                        <input class="col-sm-6" id="id" type="text" disabled
                               th:value="${menu.getId()}">
                    </div>
                    <div class="form-group row">
                        <label class="form-check-label col-sm-4" for="defaultCheck1">Czy aktywne?</label>
                        <input class="form-check-input col-sm-2" type="checkbox" th:field="${menu.isActive}" th:value="${menu.isActive}" id="defaultCheck1">
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2">Nazwa</label>
                        <input id="name" name="name" type="text" aria-describedby="nameHelpBlock"
                               class="col-sm-6 form-control" th:value="${menu.getName()}">
                    </div>
                    <input
                            id="csrf"
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}"/>
                    <div class="form-group row mt-1 col-sm-12">
                        <button name="submit" type="submit" class="btn btn-primary">Zatwierdź</button>
                    </div>
                </form>
                <div class="">
                    <table class="table table-sm table-responsive-sm table-striped table-bordered table-hover"
                           th:if="${menu.getEntries().size()>0}">
                        <h4 class="mb-2 mt-5">Elementy menu</h4>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Etykieta</th>
                                <th>Strona</th>
                                <th>Ilość elementów</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entry:${menu.getEntries()}">
                                <th>
                                    <a href="#" th:href="'/dashboard/menu/'+${menu.getId()}+'/'+${entry.getId()}">
                                        <span th:text="${entry.getId()}">1</span>
                                    </a>
                                </th>
                                <th th:text="${entry.getLabel()}">Etykieta</th>
                                <th th:text="${entry.getPage()!=null}?${entry.getPage().getTitle()} : 'brak'">brak</th>
                                <th th:text="${entry.getSubentires()!=null}?${entry.getSubentires().size()}:'0'">0</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form th:action="${'/dashboard/menu/'+menu.getId()+'/new'}" method="post" class="text-right">
                    <button name="submit" type="submit" class="btn btn-success mt-3">
                        <i class="fas fa-plus-square"></i>
                        Dodaj pozycję menu
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>