*{
    border:0px solid red;
}

.box-login{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 1em;
}

.icon-vh{
    font-size: 10vw;
}

.tiles{
    display: flex;
    flex-direction: row;
}

.tiles>div{
    margin:1em 1em 0 1em;
}



.tiles>div:last-child{
    margin:1em 1em 1em 1em;
}

.tiles>div>.card{
    padding: 1em;
    text-align: center;
    margin:1em 1em 0 1em;
}

.wrapper{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}

.card{

}

.card-content{
    position:relative;
    top:50%;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.sidebar-dimens{
    width:300px;
    min-width:300px;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
}

.img-100{
    width:100%;
}

.floating-label-container{
    margin-top: 0.5rem;
}

.floating-label-container>:first-child{
    position:absolute;
    top:-0.9rem;
    left:1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: var(--white);
    color: var(--secondary);
    border-radius: 0.4rem;
    z-index: 5;
}