<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../static/css/bootstrap-theme.css"/>

</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <div class="d-flex flex-row">
            <h3>Obraz</h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <form th:object="${image}" th:action="'/dashboard/images/'+${imageId}" method="post">
                    <div class="form-group row">
                        <div class="col-12 floating-label">
                            <label class="floating-label__label" for="id">ID</label>
                            <input id="id" name="id" type="text" class="form-control" th:value="${image.getId()}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 floating-label">
                            <label class="floating-label__label" for="name">Nazwa</label>
                            <input id="name" name="name" type="text" class="form-control" th:value="${image.getName()}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 floating-label">
                            <label class="floating-label__label" for="extension">Rozszerzenie</label>
                            <input id="extension" name="extension" type="text" class="form-control" th:value="${image.getExtension()}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 floating-label">
                        <label class="floating-label__label" for="description">Opis</label>
                        <textarea id="description" name="description" cols="40" rows="5"
                                  class="form-control" th:value="${image.getDescription()}"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <button name="submit" type="submit" class="btn btn-primary btn-block">Zatwierdź</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-lg-7 mb-3 mb-lg-0 order-first order-lg-last">
                <img class="w-100" src="../../../static/images/bulb.png" th:src="'/image/'+${imageId}">
            </div>
        </div>
    </div>
</div>
</body>
</html>