<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="fragment/metadata">
    <title th:text="${@systemVariables.get(@varkey.PAGE_NAME)}+${breadcrumbTitle}">Failed</title>
    <div th:replace="fragment/import"></div>
    <!--/*-->
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../../../static/css/opencms.css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--*/-->
</head>
<div th:replace="dashboard/presentation/fragment/fileUpload"></div>
<body class="d-flex flex-column vh-100">
<nav th:replace="fragment/admin-navbar"></nav>
<nav th:replace="fragment/admin-breadcrumb"></nav>
<div class="wrapper">
    <div th:replace="fragment/admin-sidebar"></div>
    <div class="flex-grow-1 flex-column d-flex overflow-auto p-5">
        <div id="heading" class="d-flex flex-row mb-2">
            <h3>Obrazy</h3>
            <div class="flex-grow-1 text-right">
                <button id="open_modal" class="btn btn-sm btn-success">Prześlij obraz <i
                        class="fas fa-cloud-upload-alt"></i></button>
            </div>
        </div>
        <div class="flex-grow-1" id="image-list">
            <div class="row image-container--transition">
                <div class="col-12 col-sm-4 col-lg-3 mb-3 image-container--transition" th:each="image: ${images}">
                    <div class="image-container">
                        <div class="image-container__image" th:style="'background: url('+${'/file?path='+image.getPath()}+')'"
                             src="../../../static/images/bulb.png"
                             alt="Card image cap"></div>
                        <div class="image-container__subtext">
                            <a href="#" th:href="${'/dashboard/images/details?image='+image.getPath()}">
                                <h5 class="font-weight-bold card-title font-family-roboto image-container__title"
                                    th:text="${image.getName()}">Title</h5>
                            </a>
                            <small class="image-container__small" th:if="${image.getDescription()!=null}" th:text="${image.getDescription()}">Description</small>
                            <small class="image-container__small" th:if="${image.getDescription()==null}">Brak opisu</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>